[Desktop Entry]
Version=1.0
Type=Application
Name=Oshi
GenericName=Text Editor
Comment=Terminal text editor for UTF-8 text files
Exec=oshi %f
Icon=Oshi
Terminal=True
Categories=Utility;TextEditor;
Keywords=Text;UTF-8;UTF8;Editor;Terminal;
MimeType=text/plain;text/markdown;text/x-python;text/x-csrc;text/x-c;text/x-shellscript;application/json;
StartupNotify=false
